div {
    display; block
}
div.navbar {
    padding-top: 15px;
    margin-left: 65px;
}

div.navbar ul {
    background-color: #3071a8;
    color: white;
    border-radius: 5px;
    -moz-border-radius: 5px;
    list-style: none;
}

div.navbar ul, div.navbar li {
    display: inline;
    list-style: none;
    padding: 5px 20px 5px 20px;
}
div.navbar ul li a,
div.navbar ul li a:link,
div.navbar ul li a:visited,
div.navbar ul li a:hover {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}
p {
  font-family: Helvetica Neue Bold;
  color: #232f3e;
  font-size: 14px;}